<div class="page-layout carded  fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div
      class="header accent"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <button class="mat-icon-button mr-0 mr-sm-16" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div
          class="logo mb-24 mb-md-0"
          fxLayout="row"
          fxFlex="100"
          fxFlex.gt-sm="60"
          fxLayoutAlign="start center"
        >
          <mat-icon
            class="logo-icon s-32 mr-16"
            [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
          >
            edit
          </mat-icon>
          <span
            class="logo-text h1"
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
          >
            ขอตั้งงบประมาณรายจ่ายประจำปี
          </span>
        </div>
        <div
          fxFlex="100"
          fxFlex.gt-sm="40"
          class="pl-20  pr-16"
          fxLayoutAlign="end"
        >
          <button
            [disabled]="proposalForm.invalid"
            mat-fab
            color="warn"
            (click)="onSave()"
            *ngIf="
              !proposalData.status ||
              proposalData.status === 'initial' ||
              proposalData.status === 'rejected'
            "
          >
            <mat-icon class="icon-position">save</mat-icon>
          </button>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content clickable dropzone" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <mat-tab-group #tabGroup fxFlex>
          <mat-tab label="แบบฟอร์มข้อเสนอโครงการ (กผง001)">
            <app-form001
              class="pt-2"
              [proposalForm]="proposalForm"
              [lovData]="lovData"
            ></app-form001>
          </mat-tab>

          <mat-tab
            label="แผนการดำเนินโครงการและแผนการใช้จ่ายเงินงบประมาณ (กผง002)"
          >
            <app-budget-plan></app-budget-plan>
          </mat-tab>
          <mat-tab label="เอกสารแนบประกอบการพิจรณา">
            <label class="frm003" fxLayout="column" for="file-input">
              <p fxLayoutAlign="center center">
                <mat-icon fxLayoutAlign="center center">backup</mat-icon>
              </p>
              <p fxLayoutAlign="center end">
                คุณสามารถลากและปล่อยไฟล์ ในนี้เพื่ออัพโหลด
              </p>
              <p fxLayoutAlign="center end">
                หรือ คลิ๊กเพื่อเลือกไฟล์ จากไดเรกทอรีของท่าน
              </p>
              <input
                name="detectFiles"
                id="file-input"
                type="file"
                (change)="fileBrowseHandler($event)"
              />
            </label>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row wrap" class="containerfile">
                <div fxFlex="20" fxLayoutAlign="center" class="single-file" *ngFor="let file of files; let i = index">
                  <img *ngIf="file.type === 'application/pdf'" src="https://image.flaticon.com/icons/svg/136/136522.svg"
                    width="45px" alt="file">
                  <img *ngIf="file.type === 'application/doc' || file.type === 'application/msword' || file.type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" src="https://image.flaticon.com/icons/svg/136/136521.svg"
                    width="45px" alt="file">
                  <img *ngIf="file.type === 'application/zip'" src="https://image.flaticon.com/icons/svg/136/136544.svg"
                    width="45px" alt="file">
                  <img *ngIf="file.type === 'image/jpeg'" src="https://image.flaticon.com/icons/svg/35/35896.svg" width="45px"
                    alt="file">
                  <img *ngIf="file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                    src="https://image.flaticon.com/icons/svg/136/136532.svg" width="45px" alt="file">
                  <img *ngIf="file.type === 'application/vnd.ms-excel'" src="https://image.flaticon.com/icons/svg/136/136532.svg"
                    width="45px" alt="file">
                  <img *ngIf="!file.type" src="https://image.flaticon.com/icons/svg/136/136549.svg" width="45px" alt="file">
            
                  <h4 class="text-container">
                    {{ file.name }}
                  </h4>
                  <div>
                    <img src="https://image.flaticon.com/icons/svg/753/753345.svg" class="delete" width="20px" alt="file"
                      (click)="deleteFile()">
                  </div>
                </div>    
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
        <!--  -->
      </div>

      <!-- /CONTENT -->
    </div>
    <!-- /CONTENT CARD -->
  </div>
  <!-- /CENTER -->
</div>
