<div class="page-layout carded  fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div
      class="header accent"
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <!-- APP TITLE -->
      <div
        class="logo mb-24 mb-md-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon
          class="logo-icon s-32 mr-16"
          [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
        >
          format_list_numbered
        </mat-icon>
        <span
          class="logo-text h1"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          รายการคำของบประมาณ
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input placeholder="ค้นหา" (keyup)="updateFilter($event)" />
        </div>
      </div>
      <!-- / SEARCH -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content">
        <ngx-datatable
          #table
          class="material fullscreen"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [limit]="10"
          [rows]="rows"
        >
          <ngx-datatable-column name="ชื่อโครงการ" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="กิจกรรมหลัก" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.gender }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="งบประมาณ" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ 20000000 | number }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="สถานะ" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              จัดทำข้อเสนอ
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="0.6">
            <ng-template ngx-datatable-cell-template>
              <button
                class="mat-icon-button"
                aria-label="More"
                [matMenuTriggerFor]="moreMenu"
                (click)="$event.stopPropagation()"
              >
                <mat-icon class="secondary-text">more_vert</mat-icon>
              </button>

              <mat-menu #moreMenu>
                <button
                  mat-menu-item
                  aria-label="remove"
                  (click)="deleteContact(contact)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>edit</span>
                </button>
              </mat-menu>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
    <!-- /CONTENT CARD -->
  </div>
  <!-- /CENTER -->
</div>
<!-- ADD CONTACT BUTTON -->
<button
  fxLayoutAlign="center center"
  class="mat-fab warn"
  id="add-button"
  aria-label="add"
  (click)="clickAdd()"
>
  <mat-icon>add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
