<div class="content-card">
  <div class="content">
    <ngx-datatable #table class="material fullscreen" [columnMode]="'flex'" [headerHeight]="64" [footerHeight]="64"
      rowHeight="auto" scrollbarH="true" [limit]="10" [rows]="rows">
      <ngx-datatable-column name="รหัสโครงการ" [flexGrow]="2">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.budgetcodetmp }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ชื่อโครงการ" [flexGrow]="2.5">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ระยะเวลา" [flexGrow]="1.5">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.timeline }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="งบประมาณ" [flexGrow]="2">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ 2500000 | number }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="สถานะ" [flexGrow]="2">
        <ng-template ngx-datatable-cell-template let-row="row">
          สถานะ
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          <button class="mat-icon-button" aria-label="More" [matMenuTriggerFor]="moreMenu"
            (click)="$event.stopPropagation()">
            <mat-icon class="secondary-text">more_vert</mat-icon>
          </button>

          <mat-menu #moreMenu>
            <button mat-menu-item aria-label="edit" (click)="editProposalData('edit', rowIndex)">
              <mat-icon>edit</mat-icon>
              <span>แก้ไขโครงการ</span>
            </button>
            <button mat-menu-item aria-label="edit" (click)="editProposalData('delete', rowIndex)">
              <mat-icon>delete</mat-icon>
              <span>ลบโครงการ</span>
            </button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>